<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>patches</key>
	<array>
		<dict>
			<key>UUID</key>
			<string>F6A3B993-C5D0-45C8-9AB0-FE91F6E83EF5</string>
			<key>apiVersion</key>
			<integer>3</integer>
			<key>appIdentifier</key>
			<string>com.yahoo.finance</string>
			<key>appVersion</key>
			<string>6.12.1</string>
			<key>cloudDescription</key>
			<string></string>
			<key>name</key>
			<string>Finance Patch</string>
			<key>switchedOn</key>
			<true/>
			<key>tableViewIndex</key>
			<integer>0</integer>
			<key>units</key>
			<array>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YFNewsStreamDataSource</string>
						<key>displayName</key>
						<string>-(bool) adsEnabled</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>adsEnabled</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) adsEnabled</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YFNewsStreamDataSource</string>
						<key>displayName</key>
						<string>-(void) setAdsEnabled:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setAdsEnabled:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setAdsEnabled:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>HRConfigurationManager</string>
						<key>displayName</key>
						<string>-(bool) enableAds</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>enableAds</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) enableAds</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>HRConfigurationManager</string>
						<key>displayName</key>
						<string>-(void) setEnableAds:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setEnableAds:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setEnableAds:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>HRConfigurationManager</string>
						<key>displayName</key>
						<string>-(bool) useFujiDesignForAds</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>useFujiDesignForAds</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) useFujiDesignForAds</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YFAdsManager</string>
						<key>displayName</key>
						<string>+(bool) adsEnabled</string>
						<key>prefix</key>
						<string>+</string>
						<key>selector</key>
						<string>adsEnabled</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for +(bool) adsEnabled</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>HRConfigurationManager</string>
						<key>displayName</key>
						<string>-(void) setUseFujiDesignForAds:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setUseFujiDesignForAds:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setUseFujiDesignForAds:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>HRDataSourceItemTypeResolver</string>
						<key>displayName</key>
						<string>+(bool) isAdsItem:(id)</string>
						<key>prefix</key>
						<string>+</string>
						<key>selector</key>
						<string>isAdsItem:</string>
						<key>typeEncoding</key>
						<string>B24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>Unit for +(bool) isAdsItem:(id)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YFQuoteViewController</string>
						<key>displayName</key>
						<string>+(bool) shouldShowPencilAdSectionForAdsEnabled:(bool) pencilAdsEnabled:(bool)</string>
						<key>prefix</key>
						<string>+</string>
						<key>selector</key>
						<string>shouldShowPencilAdSectionForAdsEnabled:pencilAdsEnabled:</string>
						<key>typeEncoding</key>
						<string>B24@0:8B16B20</string>
					</dict>
					<key>name</key>
					<string>Unit for +(bool) shouldShowPencilAdSectionForAdsEnabled:(bool) pencilAdsEnabled:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
						<dict>
							<key>argument</key>
							<integer>2</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>ARAdManager</string>
						<key>displayName</key>
						<string>-(bool) isARAdsEnabled</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isARAdsEnabled</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) isARAdsEnabled</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>ARAdUnitController</string>
						<key>displayName</key>
						<string>-(bool) hasAdsBelongingToDomain:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>hasAdsBelongingToDomain:</string>
						<key>typeEncoding</key>
						<string>B24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) hasAdsBelongingToDomain:(id)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>ARAdUnitControllerConfig</string>
						<key>displayName</key>
						<string>-(bool) enableARAds</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>enableARAds</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) enableARAds</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>ARAdUnitControllerConfigBuilder</string>
						<key>displayName</key>
						<string>-(bool) enableARAds</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>enableARAds</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) enableARAds</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>ARAdUnitControllerConfigBuilder</string>
						<key>displayName</key>
						<string>-(void) setEnableARAds:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setEnableARAds:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setEnableARAds:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>FlurryAdManager</string>
						<key>displayName</key>
						<string>-(bool) registerAd:(id) adSpaceName:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>registerAd:adSpaceName:</string>
						<key>typeEncoding</key>
						<string>B32@0:8@16@24</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) registerAd:(id) adSpaceName:(id)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>FlurryAdManager</string>
						<key>displayName</key>
						<string>-(bool) block_registerAd:(id) adSpaceName:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>block_registerAd:adSpaceName:</string>
						<key>typeEncoding</key>
						<string>B32@0:8@16@24</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) block_registerAd:(id) adSpaceName:(id)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>IAdLink</string>
						<key>displayName</key>
						<string>-(bool) viewIsBanner:(id) withAdSpaceName:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>viewIsBanner:withAdSpaceName:</string>
						<key>typeEncoding</key>
						<string>B32@0:8@16@24</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) viewIsBanner:(id) withAdSpaceName:(id)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>FlurryAdTargeting</string>
						<key>displayName</key>
						<string>-(bool) testAdsEnabled</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>testAdsEnabled</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) testAdsEnabled</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>FlurryAdTargeting</string>
						<key>displayName</key>
						<string>-(void) setTestAdsEnabled:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setTestAdsEnabled:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setTestAdsEnabled:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>FlurryAdsFileCache</string>
						<key>displayName</key>
						<string>-(bool) remove:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>remove:</string>
						<key>typeEncoding</key>
						<string>B24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) remove:(id)</string>
					<key>overrides</key>
					<array>
						<dict/>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<true/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>FlurryAdSpaceLayout</string>
						<key>displayName</key>
						<string>-(bool) isBanner</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isBanner</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) isBanner</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>FlurryAds</string>
						<key>displayName</key>
						<string>+(bool) adReadyForSpace:(id)</string>
						<key>prefix</key>
						<string>+</string>
						<key>selector</key>
						<string>adReadyForSpace:</string>
						<key>typeEncoding</key>
						<string>B24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>Unit for +(bool) adReadyForSpace:(id)</string>
					<key>overrides</key>
					<array>
						<dict/>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>FlurryAdsImpl</string>
						<key>displayName</key>
						<string>-(bool) adReadyForSpace:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>adReadyForSpace:</string>
						<key>typeEncoding</key>
						<string>B24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) adReadyForSpace:(id)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>FlurryAdsImpl</string>
						<key>displayName</key>
						<string>-(bool) isStateInitialized</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isStateInitialized</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) isStateInitialized</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>FlurryAdsImpl</string>
						<key>displayName</key>
						<string>-(void) setStateInitialized:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setStateInitialized:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setStateInitialized:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>O2BatsBeaconAdOpportunityDetector</string>
						<key>displayName</key>
						<string>-(bool) isNoAdsDetected</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isNoAdsDetected</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) isNoAdsDetected</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>O2BatsBeaconAdOpportunityDetector</string>
						<key>displayName</key>
						<string>-(void) setIsNoAdsDetected:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setIsNoAdsDetected:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setIsNoAdsDetected:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>O2BatsBeaconAdOpportunityDetectorInfoSelector</string>
						<key>displayName</key>
						<string>-(bool) isNoAds</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isNoAds</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) isNoAds</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>O2PixelAdSlotOpportunityDetector</string>
						<key>displayName</key>
						<string>-(bool) isAlreadyDetected</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isAlreadyDetected</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) isAlreadyDetected</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>O2PixelAdSlotOpportunityDetector</string>
						<key>displayName</key>
						<string>-(void) setIsAlreadyDetected:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setIsAlreadyDetected:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setIsAlreadyDetected:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>SMAdManagerConfig</string>
						<key>displayName</key>
						<string>-(bool) isSMAdsEnabled</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isSMAdsEnabled</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) isSMAdsEnabled</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>SMAdManagerConfigBuilder</string>
						<key>displayName</key>
						<string>-(bool) isSMAdsEnabled</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isSMAdsEnabled</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) isSMAdsEnabled</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>SMAdManagerConfigBuilder</string>
						<key>displayName</key>
						<string>-(void) setIsSMAdsEnabled:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setIsSMAdsEnabled:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setIsSMAdsEnabled:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YMAdSafariViewController</string>
						<key>displayName</key>
						<string>-(bool) initialized</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>initialized</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) initialized</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YMAdSafariViewController</string>
						<key>displayName</key>
						<string>-(void) setInitialized:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setInitialized:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setInitialized:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YMAdState</string>
						<key>displayName</key>
						<string>-(void) setFeedbackAdWasHidden:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setFeedbackAdWasHidden:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setFeedbackAdWasHidden:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<true/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YMAdState</string>
						<key>displayName</key>
						<string>-(bool) feedbackAdWasHiddenWithReason</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>feedbackAdWasHiddenWithReason</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) feedbackAdWasHiddenWithReason</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<true/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YMAdState</string>
						<key>displayName</key>
						<string>-(void) setFeedbackAdWasHiddenWithReason:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setFeedbackAdWasHiddenWithReason:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setFeedbackAdWasHiddenWithReason:(bool)</string>
					<key>overrides</key>
					<array/>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>IABVASTXMLParser</string>
						<key>displayName</key>
						<string>-(bool) isCompanionAds</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isCompanionAds</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) isCompanionAds</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YVAPWrapper</string>
						<key>displayName</key>
						<string>-(bool) isLiveAdSpot</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isLiveAdSpot</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) isLiveAdSpot</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YahooVideoAdPlugin</string>
						<key>displayName</key>
						<string>-(bool) isWaitingForPrevideoAds</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isWaitingForPrevideoAds</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) isWaitingForPrevideoAds</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YahooVideoAdPlugin</string>
						<key>displayName</key>
						<string>-(bool) willHandleFallbackAds</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>willHandleFallbackAds</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) willHandleFallbackAds</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YVideoContainerView</string>
						<key>displayName</key>
						<string>-(bool) isAdStreamPlayable:(id)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>isAdStreamPlayable:</string>
						<key>typeEncoding</key>
						<string>B24@0:8@16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) isAdStreamPlayable:(id)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<false/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YVPlayerConfiguration</string>
						<key>displayName</key>
						<string>-(bool) adsDisabled</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>adsDisabled</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) adsDisabled</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<true/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YVideoMetadata</string>
						<key>displayName</key>
						<string>-(bool) adsDisabled</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>adsDisabled</string>
						<key>typeEncoding</key>
						<string>B16@0:8</string>
					</dict>
					<key>name</key>
					<string>Unit for -(bool) adsDisabled</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>0</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<true/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YVideoMetadata</string>
						<key>displayName</key>
						<string>-(void) setAdsDisabled:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setAdsDisabled:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setAdsDisabled:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<true/>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>methodObjc</key>
					<dict>
						<key>className</key>
						<string>YVPlayerConfiguration</string>
						<key>displayName</key>
						<string>-(void) setAdsDisabled:(bool)</string>
						<key>prefix</key>
						<string>-</string>
						<key>selector</key>
						<string>setAdsDisabled:</string>
						<key>typeEncoding</key>
						<string>v20@0:8B16</string>
					</dict>
					<key>name</key>
					<string>Unit for -(void) setAdsDisabled:(bool)</string>
					<key>overrides</key>
					<array>
						<dict>
							<key>argument</key>
							<integer>1</integer>
							<key>type</key>
							<dict>
								<key>subtype</key>
								<integer>0</integer>
								<key>type</key>
								<integer>6</integer>
							</dict>
							<key>value</key>
							<dict>
								<key>type</key>
								<integer>6</integer>
								<key>value</key>
								<true/>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
